/* 通配 */
* {
    margin: 0 auto;
    font-family: 'Microsoft Yahei';
}
html, body {
    width: 100%;
    position: relative;
}
input {
    -webkit-appearance: none;
    border: none;
}
input:focus {
    outline: none;
}
.clearFix {
    *zoom: 1;
}
.clearFix:before, .clearFix:after {
    content: "";
    display: table;
}
.clearFix:after {
    clear: both;
}

/* 大容器 */
.container {
    height: 100%;
    width: 100%;
    background: url(../images/background.png);
    position: relative;
    overflow: hidden;
}
.paper {
    position: absolute;
    bottom: 15%;
    height: 70%;
    width: 100%;
    background: url(../images/input_paper.png) no-repeat center center;
    background-size: contain;
    z-index: 9;
}
.input-grade {
    position: absolute;
    bottom: 51%;
    left: 0;
    right: 0;
    height: 35px;
    width: 60%;
    background: url(../images/input_name.png);
    background-size: 100% 100%;
    padding: 0 10px;
    color: #333;
    font-size: 0.9rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0;
    -webkit-appearance: none;
}
.input-grade:focus {
    outline: none;
}
.input-class {
    position: absolute;
    bottom: 39%;
    left: 0;
    right: 0;
    height: 35px;
    width: 60%;
    max-width: 700px;
    background: url(../images/input_class.png);
    background-size: 100% 100%;
    padding: 0 10px;
    color: #333;
    font-size: 0.9rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.input-name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 27%;
    height: 35px;
    width: 60%;
    max-width: 700px;
    background: url(../images/input_name.png);
    background-size: 100% 100%;
    padding: 0 10px;
    color: #333;
    font-size: 0.9rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.generate {
    height: 9%;
    width: 60%;
    max-width: 700px;
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;
    background: url(../images/generate_btn.png);
    background-size: 100% 100%;
}
.camera {
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 90%;
    left: 0;
    right: 0;
    background: url(../images/camera.png) no-repeat top center;
    background-size: cover;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.camera.rotate {
    height: 36%;
    width: 86%;
    transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    transform: translateX(5%) rotate(-30deg);
    -moz-transform: translateX(5%) rotate(-30deg);
    -webkit-transform: translateX(5%) rotate(-30deg);
}

/* 横屏 */
.orientation_landscape {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #536173;
    z-index: 999999;
    visibility: hidden;
}
.orientation_landscape .tip-img {
    height: 70%;
    width: 100%;
    position: absolute;
    top: 10%;
    background: url(../images/orientation_landscape.png) no-repeat center center;
    background-size: contain;
}
.orientation_landscape .tip-words {
    color: #fff;
    position: absolute;
    top: 85%;
    font-size: 1.2rem;
    left: 0;
    right: 0;
    text-align: center;
}

.copyright {
    position: absolute;
    font-size: 0.7rem;
    color: #999;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5rem 0;
}
/*@media screen and (orientation: portrait) { 
    .orientation_landscape { visibility: hidden; }
}
@media screen and (orientation: landscape) {   
    .orientation_landscape { visibility: visible; }
}*/