.paper-generate {
    position: absolute;
    bottom: 15%;
    height: 70%;
    width: 100%;
    /*background-image: url(../images/input_paper_empty.png);*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    text-align: center;
    z-index: 9;
    /*visibility: hidden;*/
}
.camera {
    /*visibility: hidden;*/
}
.paper-generate img {
    height: 100%;
}
#canvas, .canvas_bg {
    visibility: hidden;
}